@use "../scss/variables.scss" as var;

.form-wrapper {
  padding: 1em 1.5em 1.5em 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-grow: 1;

    &--cvc {
      flex-basis: 125%;
    }
  }

  &__input-wrapper {
    display: flex;
    gap: 0.5em;
  }

  &__group-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  &__label {
    color: var.$clr-violet-dark;
    font-size: 0.825rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    min-width: 0;
  }

  &__input {
    border: 1px solid var.$clr-grey-light;
    border-radius: 8px;
    padding: 0.5em 0.75em;
    font-family: var.$font;
    font-size: 1.125rem;
    font-weight: var.$font-weight;
    min-width: 0;
    flex-grow: 1;

    &--error {
      border: 1px solid var.$clr-red;
    }

    &--expiry {
      width: 50%;
    }

    &--cvc {
      width: 100%;
    }

    &::placeholder {
      color: var.$clr-grey;
    }
  }

  &__error-message {
    color: var.$clr-red;
    font-size: 0.825rem;
  }
}
